<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- … -->
</head>
<body>
<main class="mdl-layout__content">
    <!-- Boilerplate divs ommited -->

    <!-- LOGOUT -->
    <form class="mdl-cell mdl-cell—4-col" th:action="@{/logout}" th:method="post">
        <button class="mdl-button mdl-js-button"type="submit">Logout</button>
    </form>
    <!-- LOGIN -->
    <form th:action="@{/login}" th:method="post" autocomplete="off">
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text"
                       id="username" name="username"></input>
                <label class="mdl-textfield__label" for="username"
                       th:text="Username"></label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password"
                       id="password" name="password"></input>
                <label class="mdl-textfield__label" for="password"
                       th:text="Password"></label>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--raised button-accent"
                    type="submit" th:text="Login"></button>
        </div>
    </form>
    <!-- FACEBOOK-LOGIN -->
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--raised button-accent"
           th:href="@{/auth/facebook}">Sign in With Facebook</a>
    </div>
</body>
</html>